*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrap{
    width: 70vw;
    margin: 0 auto; 
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    
}


.blue-box{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: spanrow2-end;

}

.blue-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px;
    width: 35vw;
    height: 544px;
    background: #C7DDEA;

}



.button {
    width: 131px;
    height: 39px;
    left: 324px;
    top: 326px;
    font-family: Fira Sans;
    size: 10px;

    background: #FFFFFF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    
}

.button2 {
    width: 131px;
    height: 39px;
    left: 324px;
    top: 326px;
    font-family: Fira Sans;
    size: 10px;

    background: #FFFFFF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
}

.blue-card img{
    width: 286px;
    height: 279px;
    left: 417px;
    top: 265px;
    background: img\family.png (family.png);
}

.header-card-1 h1{
    display: flex;
    width: 343px;
    height: 101px;
    background: #C7DDEA;
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    color: #000000;
}


.orange-box{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.orange-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 35vw;
    height: 272px;
    background: #F17949;

}

.yellow-box{
    display: grid;
    grid-column-start: 2;
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.yellow-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 35vw;
    height: 272px;
    background: #FAB131;
}

.container h1{
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
    margin-left: 105px;
    background: #C7DDEA;
}

.container h2{
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    color: #FFFFFF;

}

.container h3{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.5);
}

p{
    width: 268px;
    height: 103px;
    margin:172 324;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}


a{
    color: #A9A19E;
    text-decoration: none;
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    padding: 20px 0;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    background: #e5e5e5;
}

li {
    display: block;
    width: 167px;
    height: 57px;
    text-align: center;
    background: #e5e5e5;
    padding: 20px;

}

.nav-bar-menu{
    display: flex;
    margin: 200px;
    padding: 200px;
    padding-right: 80px;
    width: 1080px;;
    background: #e5e5e5;
    padding: 0px;
    justify-content: space-between;

}

 /*How it works*/

.howitworks-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.howitworks-container > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23vw;
    height: 340px;
    justify-content: space-between;
}

.howitworks-container > div > div {
    height: 35px;

}

.howitworks-container h1{
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 100%;
    color:rgba(0, 0, 0, 0.4);
    align-self: flex-start;
}

.howitworks-container h3{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    justify-self: flex-start;
}

.box-00 h1{
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    height: 101px;
    margin: 20px;
    top: 2023px;
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.8);
}

.box-00{
    background: #C7DDEA;
}

.box-01, .box-03, .box-05 {
    background: #FFFFFF;
}

.box-02{
    background: #EBEBEB;
}


.box-04{
    background: #F17949;
}

 /*Strap grey*/

.strap-grey {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 68px;
    background: #A9A19E;

}

.strap-grey p, h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    background: #A9A19E;
    width: 70vw;
    height: 10px;
}



.block-darkgrey {
    width: 70vw;
    height: 340px;
    background: #777574;

}

.f-pic {
    text-align: right;
}

body {
    background-color: #E5E5E5;
}


.container-main {
 
    /* Jobbar med grid */
    display: grid;
    grid-template-areas: 
    'upper upper upper upper upper upper'
    'pics pics pics pics pics pics'
    'about about about about about about';

    grid-gap: 150px;

    height: 1400px;
   background: linear-gradient(to bottom, #A9A19E 0%,#A9A19E 44%, #FAB131 44%,#FAB131 100%)

}

.container-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    /* Behövs för griden */
    grid-area: upper;
}

.container-left {
    width: 25vw;
    height: 17vh;
    padding-top: 8vh;
}

.container-right {
    width: 20vw;
    height: 17vh;

    padding-top: 8vh;

    font-family: Fira Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}


.container-about {
    margin-left: 19vw;
    margin-right: 19vw;

    text-align: center;
    justify-self: center;

    /* För griden */
    grid-area: about;


    font-family: Fira Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;

    margin-bottom: 100px;
}

.container-about > p {
    width: 100%;
    height: 60%;   
}

.container-about h1 {
    padding-bottom: 25px;
}

h1 {
    font-family: Frank Ruhl Libre;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: 45px;
    letter-spacing: −0,02em;

    color: white;
}

p {
    justify-content: center;
    align-items: center;
    font-family: Fira Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
}


.container-pics {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    grid-area: pics;
}

.container-pics p {
    width: 240px;
}


.pic-one {
    width: 236px;
    height: 308px;

    margin: auto;
    background: #FFFFFF;
    box-shadow: -10px 10px #FFFFFF, 10px 10px #FFFFFF;
    border-radius: 5px;

    text-align: center;
}

.pic-child {
    width: 236px;
    height: 170px;
    background: #C7DDEA;
    border-radius: 4px;
}

.pic-child img {
    height: 140px;
    left: 43.09%;
    background: #C7DDEA;
}

.pic-one h6 {
    font-size: 16px;
    text-align: center;
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.9);
}

.pic-one p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    display: flex;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}

.pic-two {
    width: 236px;
    height: 308px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: -10px 10px #FFFFFF, 10px 10px #FFFFFF;
    border-radius: 5px;
    text-align: center;
}

.pic-adult {
    width: 236px;
    height: 170px;
    background: #FAB131;
    border-radius: 4px;
    text-align: center;
}

.pic-adult img {
    height: 140px;
    left: 43.09%;
    background: #FAB131;
}

.pic-two h6 {
    width: 198px;
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
}

.pic-two p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}

.pic-three {
    width: 236px;
    height: 308px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: -10px 10px #FFFFFF, 10px 10px #FFFFFF;
    border-radius: 5px;

    text-align: center;
}

.pic-old {
    width: 236px;
    height: 170px;
    background: #F17949;
    border-radius: 4px;
    text-align: center;
}

.pic-old img {
    height: 140px;
    left: 43.09%;
    background: #F17949;
}

.pic-three h6 {
    width: 198px;
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
}

.pic-three p {
    top: 1420px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}


/* MEDIA QUERIES FÖR OLIKA SKÄRMSTORLEKAR */
/* GÅR ATT FINNA HIT */

/* https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488 */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  @media (min-width: 481px) and (max-width: 767px) {
  
    /* CSS */
    
  }



/* FÖLJANDE ÄR REDAN KLAR */
/* DET MINSTA SKÄRMSTORLEKEN */

/* MOBIL ANPASSAD */
/* KLAR */

  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .wrap {
        width: 100%;
        margin: 0;
    }

    .container h1 {
        margin-left: 0px;
        text-align: left;
        padding-left: 20px;
        padding-top: 50px;
    }

  
    .container-main {
        width: 100%;
        height: 100%;

        margin: 0;
        background: linear-gradient(to bottom, #A9A19E 0%,#A9A19E 75%, #FAB131 75% ,#FAB131 100%); /* W3C */
  }

  .container-upper {
    display: grid;

    grid-template-areas:
    'left'
    'right';
}


  .container-left {

    width: 50%;
    height: 10vh;

    grid-area: left;

    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
  }


  .container-right {
      width: 100%;

      grid-area: right;
  }

  .container-right p {
      width: 100vw;
      padding: 15px;
  }  

  .container-pics {
      display: grid;

      grid-template-areas: 
    'one'
    'two'
    'three';

    width: 100vw;
    height: 90vh;

  }

  .pic-one {
    grid-area: one;
  }

  .pic-two {
    grid-area: two;
  }

  .pic-three {
    grid-area: three;
  }

  .container-about {
      width: 100vw;
      height: 40vh;

      margin-left: 0px;
      margin-right: 0px;

      margin-bottom: 0px;

      justify-self: flex-start;

  }

  .container-about > p {
    width: 100vw;
    height: 40%;
    padding: 40px;
}

  .howitworks-container {
      width: 100vw;
      display: grid;

      grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 

      grid-template-areas: 
      'box00'
      'box01'
      'box02'
      'box03'
      'box04'
      'box05';
  
      height: auto; 
  }

  .howitworks-container > div {
      width: 100%;
  }

  .box-00 {
    grid-area: box00;
    
  }

  .box-01 {
    grid-area: box01;
    width: 100vw;
  }

  .box-02 {
    grid-area: box02;
  }

  .box-03 {
    grid-area: box03;
  }

  .box-04 {
    grid-area: box04;
  }

  .box-05 {
    grid-area: box05;
  }

  .container{
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;

    grid-template-areas:
    'cblue'
    'corange'
    'cyellow';
}

.blue-box {
    grid-area: cblue;
}

.blue-card {
    width: 100vw;
}

.blue-card p {
    padding: 20px;
    text-align: left;
}

.orange-box {
    grid-area: corange;
}

.orange-card {
    width: 100vw;
}

.yellow-box {
    grid-area: cyellow;
}

.yellow-card {
    width: 100vw;
}

.main-nav {
    display: none;
}

.strap-grey {
    width: 100%;
}

.block-darkgrey {
    width: 100%;
}

.container * {
    width: 100%;
    text-align: center;
    margin: 0px;
}

.f-pic {
    margin-left: 0px;
}

.orange-card h3  {
    justify-content: space-around;
    width: 100%;
}

.yellow-card h3 {
    justify-content: space-around;
    width: 100%;
}

.button2 {
    display: none;
}

.button {
    width: 36vw;
}

}
  
  